@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall
    Student Number - S1828840, S1828601
    Date Created - 23/02/2019
    Version - 1.0.0

    Description:
    Partial View that contains the forecast data in a mobile friendly way
*@

<div class="row">
    <div class="col-12">
        <div id="forecast-result-container-card-mobile" class="card weather-card-container">
            <table class="w-100 text-center weather-card-container">
                <thead id="forecast-tbl-head-mobile">

                </thead>
                <tbody class="text-left" id="forecast-tbl-body-mobile"></tbody>
            </table>
            <div class="row">
                <div class="col-12 weather-card-container">
                    <button class="btn btn-success w-100" onclick="analyseForecastData()">Analyse Data</button>
                </div>
            </div>
        </div>
    </div>
</div>
