@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall
        Student Number - S1829984, S1828840, S1828601
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all earthquake associated views
*@
<link href="~/css/General/about-us.css" rel="stylesheet" />
<div style="overflow: auto;
    white-space: nowrap; text-align:center; " class="image-greyscale">

    <img src="~/images/About Us/Aidan.PNG" class=" first-people-background image-greyscale" />
    <img src="~/images/About Us/Katie.PNG" class="people-background image-greyscale" />
    <img src="~/images/About Us/Ross.PNG" class="people-background image-greyscale" />
    <img src="~/images/About Us/Marc.PNG" class="people-background image-greyscale" />
    <img src="~/images/About Us/Mark.PNG" class="people-background image-greyscale" />
    <img src="~/images/About Us/Laura.PNG" class="last-people-background image-greyscale" />

</div>
