@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall, 
    Student Number - S1828840, S1828601
    Date Created - 25/02/2019
    Version - 1.0.1

    Description: Page that will contain partial weather analysis views
*@

<div style="display:none" id="forecast-weather-analysis-landing">
    @await Html.PartialAsync("~/Views/Partials/Weather/Analysis/Forecast/_ForecastAnalysisLanding.cshtml")
</div>
