<style>
    .back-home-btn {
        position: fixed;
        top: 80px;
        left: 10px;
        z-index: 2001;
        margin-left:-40px;
        border-radius:60px;
        padding-left:40px;
        display:none;
    }

    .back-home-btn p {
        display:none;
        
    }

    .back-home-btn:hover p{
        display:inline;
    }
</style>

<button id="back-home-btn" class="btn btn-info back-home-btn" onclick="fadeInSpecifiedView('overview-page')" style="margin-bottom:1em;" >
    <p>Home </p> <i class="fas fa-chevron-left"></i> <i class="fas fa-home"></i>  
</button>
