<style>
    .home-btn {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 2001;
        color: black;
    }
</style>


<button id="back-home-btn" class="btn home-btn" onclick="window.location='/'" data-toggle="tooltip" data-placement="top" title="Go back home">
    <i class="fas fa-home fa-3x"></i>
</button>