<div class="text-center">
    <h2>.NET SDK</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Pre-requisites/NET_SDK.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="usr-scrt-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('net-sdk-tutorial')">Go Full Screen</button>
        <button style="display:none" id="usr-scrt-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('net-sdk-tutorial')">Exit Full Screen</button>
    </div>
    <hr />
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Tmpst has been created as an ASP.NET Core web application and all the tutorials that tmpst offer are written in this framework. In almost all of the tutorials, the code provided
            can be used in any relevant environment (such as Atom or Notepad++), however, using a .NET Core web application would allow you to follow the tutorials exactly and produce the most accurate results.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            In order to create a ASP.NET Core web application, you will have to install the ASP.NET Core SDK which is available <button class="btn btn-secondary" onclick="openTutorialLink('https://dotnet.microsoft.com/download')">Here</button> as well as in the references section below
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>References</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Useful Resources</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <ul>
                <li>
                    <button onclick="openTutorialLink('https://dotnet.microsoft.com/download')" class="btn btn-secondary">Download .NET SDK</button> - Download and install .NET SDK
                </li>
            </ul>
        </p>
    </div>
</div>
