<div class="text-center">
    <h2>Visual Studio</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Bootstrap_4.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="usr-scrt-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('bootstrap-4-tutorial')">Go Full Screen</button>
        <button style="display:none" id="usr-scrt-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('bootstrap-4-tutorial')">Exit Full Screen</button>
    </div>
    <hr />
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Tmpst uses Bootstrap 4 as the main frontend framework for the application. Tmpst uses Bootstrap to create the consistent Navbar throughout the application as well as
            using the grid system to align the containers of the pages correctly for both desktop and mobile users.
        </p>
    </div>
</div>
