<div class="text-center">
    <h2>Visual Studio Tutorial</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Pre-Requisites/Visual_Studio_2017.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="visual-studio-tutorial-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('visual-studio-tutorial')">Go Full Screen</button>
        <button style="display:none" id="visual-studio-tutorial-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('visual-studio-tutorial')">Exit Full Screen</button>
    </div>
    <hr />
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Visual Studio is a free IDE that provides editors and Intellisense for a variety of programming languages, 
            both client and server side. Intellisense provides suggestions and autocomplete functionality which makes 
            declaring functions and variables easier and less prone to problems. Visual Studio’s Intellisense will also 
            provide warnings and error notifications if it detects incorrect syntax or lines of code that could pose problems at runtime.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            All of the tutorials that tmpst provides have examples developed in Visual Studio, therefore, to accurately
            follow these examples Visual Studio should be used. If you already have Visual Studio installed, then you
            can proceed with all the tutorials. If not then we recommend that you download it from
            <a href="https://visualstudio.microsoft.com/downloads/">https://visualstudio.microsoft.com/downloads/</a> .
            A link to a tutorial on how to install Visual Studio is provided here:
            <a href="https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio?view=vs-2017">https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio?view=vs-2017</a>
            as well as in the references section below:
        </p>
    </div>
</div>



<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Useful Resources</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <ul>
                <li>
                    Download Visual Studio - <a href="https://visualstudio.microsoft.com/downloads/">https://visualstudio.microsoft.com/downloads/</a>
                </li>
                <li>
                    How to Install Visual Studio - <a href="https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio?view=vs-2017">https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio?view=vs-2017</a>
                </li>
            </ul>
        </p>
    </div>
</div>

