<div class="row">
    <div class="col-12">
        <div id="percentage-result-container" class="card mortality-card-container">
            <div id="mortality-chart-container" style="width:600px; height:600px;">

            </div>
        </div>
    </div>
</div>