@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Katie King, Marc Leese
        Student Number - S1829984, S1828840, S1828601, S1827986, S1827987
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all earthquake associated views
*@
<div>
    <div id="earthquake-title-container" class="text-center">
        <h3 class="tmpst-title">Earthquake</h3>
        <p class="tmpst-desc">Visualise current earthquake data</p>
    </div>

    <div id="earthquake-query-and-map-container">
        <div id="earthquake-query-container">
            @await Html.PartialAsync("~/Views/Partials/Earthquake/_EarthquakeQueryBuilder.cshtml", Model.Earthquakes)
        </div>

        <div id="earthquake-cluster-map-container" style="display:none">
            @await Html.PartialAsync("~/Views/Partials/Earthquake/Results/_EarthquakeClusterMapContainer.cshtml")
        </div>
    </div>
    
    <div id="earthquake-are-info-container" class="text-center" style="display:none">
        @await Html.PartialAsync("~/Views/Partials/Earthquake/Results/_EarthquakeAreaInfo.cshtml")
    </div>
</div>
