@*
    Author Info:

    Name(s) - Mark Riley, Ross Taggart, Aidan Marshall
    Student Number - S1829984, S1828840, S1828601
    Date Created - 18/02/2019
    Version - 1.0.0

    Description:
    Page that holds a container for the google map
*@
<div class="card weather-card-container">
    <div style="height:316px" id="current-weather-result-map">
    </div>
</div>
