@*
    Author Info:

    Name(s) - Mark Riley, Ross Taggart, Aidan Marshall
    Student Number - S1829984, S1828840, S1828601
    Date Created - 18/02/2019
    Version - 1.0.0

    Description:
    Page that holds a container for the google map
*@
<div class="card weather-card-container">

    <div class="row">

        <div id="collapsed-text-container" class="col-11 text-center">
            <h5 style="display:none" id="current-map-wizard-collapsed-title">Map</h5>
        </div>

        <div id="current-map-collapse-expand" class="col-1 text-right tmpst-clickable">
            <i id="current-map-wizard-arrow-up" class="fas fa-caret-up fa-2x"></i>
            <i style="display:none" id="current-map-wizard-arrow-down" class="fas fa-caret-down fa-2x"></i>
        </div>
    </div>
    <div id="current-map-wizard-container">
        <div class="row weather-card-item">
            <div class="col-12 text-center">
                <div style="height:316px" id="current-weather-result-map">
                </div>
            </div>
        </div>


    </div>
</div>


<script>
    $('#current-map-collapse-expand').click(function () {
        $('#current-map-wizard-container').slideToggle("slow", function () {

            //if container is visible, show an arrow that allows the container to be minimised
            if (!$('#current-map-wizard-container').is(':visible')) {
                $('#current-map-wizard-arrow-up').fadeOut().promise().done(function () {
                    $('#current-map-wizard-arrow-down').fadeIn();
                    $('#current-map-wizard-collapsed-title').fadeIn();
                });
            }
            else {
                $('#current-map-wizard-arrow-down').fadeOut().promise().done(function () {
                    $('#current-map-wizard-arrow-up').fadeIn();
                    $('#current-map-wizard-collapsed-title').fadeOut();
                });
            }
        });
    });
</script>