@*
    Author Info:

    Name(s) - Mark Riley, Ross Taggart, Aidan Marshall
    Student Number - S1829984, S1828840, S1828601
    Date Created - 18/02/2019
    Version - 1.0.0

    Description:
    Page that holds a container for the google map
*@
<div class="card weather-card-container">

    <div class="row">
        <div class="col-12 weather-card-item text-center">
            <span>
                <strong>Map </strong> <i onclick="collapseExpandToggle('current-map-result-up', 'current-map-result-down', 'current-map-wizard-container')" id="current-map-result-up" class="fas fa-caret-up fa-2x tmpst-clickable"></i><i onclick="collapseExpandToggle('current-map-result-down', 'current-map-result-up', 'current-map-wizard-container')" style="display:none" id="current-map-result-down" class="fas fa-caret-down fa-2x tmpst-clickable"></i>
            </span>
        </div>
    </div>
    <div id="current-map-wizard-container">
        <div class="row weather-card-item">
            <div class="col-12 text-center">
                <div style="height:308px" id="current-weather-result-map">
                </div>
            </div>
        </div>


    </div>
</div>