@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall
    Student Number - S1828840, S1828601
    Date Created - 19/02/2019
    Version - 1.0.0

    Description:
    Partial view that contains the card container for the current weather data requested
*@
<div class="card weather-card-container">
    @*Div that contains the current weather icon*@
    <div class="row weather-card-item text-center">
        <div id="current-weather-icon-container" class="col-12">

        </div>
    </div>
    <div class="row weather-card-item">
        @*Div that contains the current condition*@
        <div id="current-weather-condition-container" class="col-12">

        </div>
    </div>
    <div class="row weather-card-item">
        @*Div that contains the current temperature*@
        <div id="current-weather-temp-container" class="col-12">

        </div>
    </div>
    <div class="row weather-card-item">
        @*Div that contains the current feels like temperature*@
        <div id="current-weather-feel-temp-container" class="col-12">

        </div>
    </div>
    <hr />
    <div class="row weather-card-item">
        @*Div that contains the current wind direction*@
        <div id="current-weather-wind-dir-container" class="col-12">

        </div>
    </div>
    <div class="row weather-card-item">
        @*Div that contains the current wind speed*@
        <div id="current-weather-wind-speed-container" class="col-12">

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success w-100">Analyse Data</button>
        </div>
    </div>
</div>
