<div class="row">
    <div class="col-5">
        @await  Html.PartialAsync("~/Views/Partials/Weather/Results/_CurrentWeatherOverviewContainer.cshtml")
    </div>
    <div class="col-7">
        @await Html.PartialAsync("~/Views/Partials/Weather/Results/_CurrentWeatherMapResult.cshtml")
    </div>
</div>
