@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall,
    Student Number - S1828840, S1828601, 
    Date Created - 19/02/2019
    Version - 1.0.0

    Description:
    Partial View that contains the forecast data from the most recent weather query
*@

<div class="row">
    <div class="col-12">
        <div id="forecast-result-container-card" class="card weather-card-container">
            <div class="row weather-card-item text-center">
                <div class="col-12 text-center">
                    <span>
                        <strong>Forecast</strong> <i onclick="collapseExpandToggle('forecast-result-arrow-up', 'forecast-result-arrow-down', 'main-forecast-result-container')" id="forecast-result-arrow-up" class="fas fa-caret-up fa-2x tmpst-clickable" data-toggle="tooltip" data-placement="top" title="Click to slide up"></i><i onclick="collapseExpandToggle('forecast-result-arrow-down', 'forecast-result-arrow-up', 'main-forecast-result-container')" style="display:none" id="forecast-result-arrow-down" class="fas fa-caret-down fa-2x tmpst-clickable" data-toggle="tooltip" data-placement="top" title="Click to slide down"></i>
                    </span>
                </div>
            </div>
            <table id="forecast-head-only-tbl" style="display:none;">
                <thead id="forecast-head-only">

                </thead>
            </table>
            <div id="main-forecast-result-container" class="row">
                <table class="w-100 text-center weather-card-container">
                    <thead id="forecast-tbl-head">

                    </thead>
                    <tbody class="text-center" id="forecast-tbl-body"></tbody>
                </table>
            </div>
            
            <div class="row">
                <div class="col-12 weather-card-container">
                    <button class="btn btn-success w-100" id="submitForecast" onclick="analyseForecastData()" data-toggle="tooltip" data-placement="top" title="View Forecast as a graph">Analyse Data</button>
                </div>
            </div>
        </div>
    </div>
</div>