@*
    Author Info:

    Name(s) - Ross Taggart
    Student Number - S1828840
    Date Created - 19/02/2019
    Version - 1.0.0

    Description:
    Partial View that contains the forecast data from the most recent weather query
*@

<div class="row">
    <div class="col-12">
        <div id="forecast-result-container-card" class="card weather-card-container">
            <table class="w-100 text-center weather-card-container">
                <thead id="forecast-tbl-head">

                </thead>
                <tbody class="text-center" id="forecast-tbl-body">

                </tbody>
            </table>
            <div class="row">
                <div class="col-12 weather-card-container">
                    <button class="btn btn-success w-100" onclick="updateOverviewChart()">Analyse Data</button>
                </div>
            </div>
        </div>
    </div>
</div>