@*
    Author Info:

    Name(s) - Ross Taggart
    Student Number - S1828840
    Date Created - 19/02/2019
    Version - 1.0.0

    Description:
    Partial View that contains the forecast data from the most recent weather query
*@

<div class="row">
    <div class="col-12">
        <div class="card weather-card-container">
            <table class="w-100">
                <thead id="forecast-tbl-head">

                </thead>
                <tbody class="text-center" id="forecast-tbl-body">

                </tbody>
            </table>
        </div>
    </div>
</div>