@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall, 
    Student Number - S1828840, S1828601
    Date Created - 17/02/2019
    Version - 1.0.0

    Description:
    Partial view containing static content which describes the application
*@


<div class="banner-outer jumbotron" id="banner" style="background: url('/images/Partials/Overview/forest - compressed.jpg') no-repeat center; padding-bottom:100px; text-align:center">
    <div class="banner-header">
        <img src="~/images/logo/logo64.png">
        <h1>tmpst</h1>
    </div>
    <div class="row  padded-row">
        <div class="col-6 banner-body-tile-container">
            <div class="banner-body-tile tmpst-clickable" onclick="fadeInSpecifiedView('weather-page')">
                <p>
                    Weather
                </p>
                <img src="~/images/API Icons/Borderless/weather.png" />
            </div>
        </div>
        <div class="col-6 banner-body-tile-container">
            <div class="banner-body-tile tmpst-clickable" onclick="fadeInSpecifiedView('earthquake-page')">
                <p>
                    Earthquake
                </p>
                <img src="~/images/API Icons/Borderless/earthqake.png" />
            </div>
        </div>
    </div>
    <div class="row padded-row">
        <div class="col-6 banner-body-tile-container">
            <div class="banner-body-tile tmpst-clickable" onclick="fadeInSpecifiedView('pollution-page')">
                <p>
                    Air Pollution
                </p>
                <img src="~/images/API Icons/Borderless/pollution.png" />
            </div>
        </div>
        <div class="col-6 banner-body-tile-container">
            <div class="banner-body-tile tmpst-clickable" onclick="fadeInSpecifiedView('population-page')">
                <p>
                    Population
                </p>
                <img src="~/images/API Icons/Borderless/population.png" />
            </div>
        </div>
    </div>

</div>
