<div id="earthquake-title-container" class="text-center">
    <h3 class="tmpst-title">Overview</h3>
    <p class="tmpst-desc">A brief description of each of tmpst's systems</p>
</div>
<div class="row" >
    <div class="col-12">
        <div class="card overview-card-container">
            
            <div id="overview-desc-container">
                <div class="row overview-card-item">

                    <div class="col-10">
                        <h5><strong>Integrated Project 3</strong></h5>
                        <p>
                            This module has offered us the opportunity to develop a solution to a realistic problem that is relevant to our current programme of study.
                            This has involved the utilisation of the knowledge and skills developed throughout the our current and previous levels of study during university and college in producing an appropriate application.
                        </p>
                    </div>
                    <div class="col-2">
                        <button onclick="downloadPDF('Specification/Specification.pdf')" class="btn btn-secondary"><span>View Specification Document as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
                    </div>
                </div>
                <div class="row overview-card-item">
                    <div class="col-2">
                        <img class="img-fluid" src="~/images/API Icons/Borderless/weather.png" />
                    </div>
                    <div class="col-10">
                        <h5><strong>Weather</strong></h5>
                        <p>
                            The weather page contains option selectors for choosing between viewing current and forecast weather data. From here, you can view future weather conditions both in table
                            and graph form
                        </p>
                    </div>
                </div>
                <div class="row overview-card-item">
                    <div class="col-10">
                        <h5><strong>Earthquake</strong></h5>
                        <p>
                            The earthquake page allows you to view a clustered map of all earthquakes within a specified time range. On this page, the select boxes will let you chose the time range
                            you want to see data for as well as the magnitude you want to use to limit the results.
                        </p>
                    </div>
                    <div class="col-2">
                        <img class="img-fluid" src="~/images/API Icons/Borderless/earthqake.png" />
                    </div>
                </div>
                <div class="row overview-card-item">
                    <div class="col-2">
                        <img class="img-fluid" src="~/images/API Icons/Borderless/population.png" />
                    </div>
                    <div class="col-10">
                        <h5><strong>Population</strong></h5>
                        <p>
                            The population page allows you to view the population distribution of a chosen country in a specific year. On this page, the select box lets you chose the desired country
                            from a set list and you can enter the year you want to see data for in the input box. Once you submit the request, a radar chart that visualises the data will be displayed.
                        </p>
                    </div>
                </div>
                <div class="row overview-card-item">
                    <div class="col-10">
                        <h5><strong>Pollution</strong></h5>
                        <p>
                            The pollution page allows you to view the atmospheric pollutants for a chosen pollution station in a specified country. On this page, the select box will allow you to choose
                            the country you want to see data for. The other select box will then be automatically populated with the avaliable pollution stations for that country. Once you submit the request,
                            a horizontal bar chart will be displayed that shows all the pollutants in the atmosphere for that area.
                        </p>
                    </div>
                    <div class="col-2">
                        <img class="img-fluid" src="~/images/API Icons/Borderless/pollution.png" />
                    </div>
                </div>
                <div class="row overview-card-item">
                    <div class="col-2">
                        <img class="img-fluid" src="~/images/API Icons/Borderless/death.png" />
                    </div>
                    <div class="col-10">
                        <h5><strong>Mortality</strong></h5>
                        <p>
                            The mortality page allows you to view the mortality distribution percentage of a specified country fro a specific gender. The select boxes allow you to choose the country and
                            gender you want to see data for. Once you submit the request, a doughnut chart will be displayed which contains all the mortality percentages.
                        </p>
                    </div>
                </div>
                <div class="row overview-card-item">
                    <div class="col-10">
                        <h5><strong>News</strong></h5>
                        <p>
                            The news page allows you to view a high level overview of the most popular news stories in a specific category for a chosen country. The select boxes allow you to chose the country
                            and the category of the news you want to see. Once you submit the request, a sunburst chart will be displayed which displays the top stories along with their source.
                        </p>
                    </div>
                    <div class="col-2">
                        <img class="img-fluid" src="~/images/API Icons/Borderless/news.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>