@*
    Author Info:

    Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Katie King
    Student Number - S1829984, S1828840, S1828601, S1827986
    Date Created - 01/03/2019
    Version - 1.0.0

    Description:
    Page that will builds query for user
*@

<div class="row">
    <div class="col-12">
        <div class="card pollution-card-container">
            <div class="row pollution-card-item">
                <div class="col-12 text-center">
                    <span>
                        <strong>Pollution Wizard</strong> <i onclick="collapseExpandToggle('pollution-wizard-arrow-up', 'pollution-wizard-arrow-down', 'pollution-wizard-container')" id="pollution-wizard-arrow-up" class="fas fa-caret-up fa-2x"></i><i onclick="collapseExpandToggle('pollution-wizard-arrow-down', 'pollution-wizard-arrow-up', 'pollution-wizard-container')" style="display:none" id="pollution-wizard-arrow-down" class="fas fa-caret-down fa-2x"></i>
                    </span>
                </div>
            </div>
            <div id="pollution-wizard-container">
                <div class="row pollution-card-item">
                    <div class="col-6">
                        <select id="pollution-country-input" class="form-control" required></select>
                    </div>
                    <div class="col-6">
                        <select id="pollution-location-input" class="form-control" required></select>
                    </div>
                </div>
                <div id="submit-pollution-request-container">
                    <div class="row">
                        <div class="col-12">
                            <button id="submit-pollution-request-btn" onclick="submitPollutionRequest()" class="btn btn-success w-100">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script>

    let countryDropdown = $('#pollution-country-input');
    let locationDropdown = $('#pollution-location-input');

    countryDropdown.empty();

    countryDropdown.append('<option selected="true" disabled>Select Country</option>');
    countryDropdown.prop('selectedIndex', 0);

    const pollutionCountryUrl = 'https://api.openaq.org/v1/countries';



    //// Populate dropdown with list of provinces
    //$.getJSON(pollutionCountryUrl, function (data) {
    //    $.each(data.results, function (key, entry) {
    //        countryDropdown.append($('<option></option>').attr('value', entry.code).text(entry.name));
    //    })
    //}); -- Talk about efficienttstyy

    $.ajax({
        type: "GET",
        url: pollutionCountryUrl,
        crossDomain: true,
        dataType: 'json',
        contentType: "application/json",
        success: function (result) {
            $.each(result.results, function (key, entry) {
                countryDropdown.append($('<option value=' + entry.code + '>' + entry.name + '</option>'));
            })
        },
        error: function (result) {
            Swal.fire({
                type: 'error',
                title: 'Data Request Error',
                text: 'An error has occurred when submitting your request. Please try again with different criteria.'
            })
        }
    });


    countryDropdown.change(function () {
        console.log(countryDropdown.val());
        $.ajax({
            type: "GET",
            url: 'https://api.openaq.org/v1/locations?country[]=' + countryDropdown.val(),
            crossDomain: true,
            dataType: 'json',
            contentType: "application/json",
            success: function (result) {
                locationDropdown.empty();
                $.each(result.results, function (key, entry) {
                    locationDropdown.append($('<option value="' + entry.location + '">' + entry.location + '</option>'));
                });
            },
            error: function (result) {
                Swal.fire({
                    type: 'error',
                    title: 'Data Request Error',
                    text: 'An error has occurred when submitting your request. Please try again with different criteria.'
                })
            }
        });

    });



    $('#pollution-collapse-expand').click(function () {
        $('#pollution-wizard-container').slideToggle("slow", function () {
            //if container is visible, show an arrow that allows the container to be minimised
            if (!$('#pollution-wizard-container').is(':visible')) {
                $('#pollution-wizard-arrow-up').fadeOut().promise().done(function () {
                    $('#pollution-wizard-arrow-down').fadeIn();
                    $('#pollution-wizard-collapsed-title').fadeIn();
                });
            }
            else {
                $('#pollution-wizard-arrow-down').fadeOut().promise().done(function () {
                    $('#pollution-wizard-arrow-up').fadeIn();
                    $('#pollution-wizard-collapsed-title').fadeOut();
                });
            }
        });
    });








    function submitPollutionRequest() {
        //GET Data

        console.log(locationDropdown.val());

        let location = formatCountryName(locationDropdown.val());

        var utc = new Date().toJSON().slice(0, 10);
        console.log(utc);

        let measurementsUrl = 'https://api.openaq.org/v1/measurements?location=' + location + '&date_from=' + utc;

        function formatCountryName(countryName) {
            let formattedCountryName = countryName.replace(/ /g, '%20');
            return formattedCountryName;
        };

        console.log("Created URL - " + measurementsUrl);


        $.ajax({
            type: "GET",
            url: measurementsUrl,
            crossDomain: true,
            dataType: 'json',
            contentType: "application/json",
            success: function (result) {

                //Creates visualisation
                console.log(result);

                createPollutionChart(result);
                collapseExpandToggle('pollution-wizard-arrow-up', 'pollution-wizard-arrow-down', 'pollution-wizard-container');
                $('#pollution-chart-container').fadeIn(300);
            },
            error: function (errorResult) {
                Swal.fire({
                    type: 'error',
                    title: 'Data Request Error',
                    text: 'An error has occurred when submitting your request. Please try again with different criteria.'
                });
            }


        });

    }




</script>