@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall
        Student Number - S1829984, S1828840, S1828601
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all pollution associated views
*@
<div>
    <div id="pollution-title-container" class="text-center">
        <h3 class="tmpst-title">Pollution Analysis</h3>
        <p class="tmpst-desc">Analyse current pollution conditions worldwide</p>
    </div>

    <div id="pollution-query-container">
        @await Html.PartialAsync("~/Views/Partials/Pollution/_PollutionQueryBuilder.cshtml")
    </div>

    <div style="display:none" id="pollution-chart-container">
        @await Html.PartialAsync("~/Views/Partials/Pollution/Results/_PollutionChartContainer.cshtml")
    </div>
</div>
