@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall
    Student Number - S1828840, S1828601
    Date Created - 25/02/2019
    Version - 1.0.0

    Description:
    Page that contains partial views for all of the forecast analysis
*@

<div class="row">
    <div class="col-12">
        <div style="height:330px" class="card">
            <div class="row">
                <div class="col-12 text-center">
                    <span>
                        <strong>Current Weather Analysis</strong>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p>The Current Weather Analysis card displays the current conditions in your requested location as a graph</p>
                </div>
            </div>
            <div style="height:300px;" id="current-weather-result-container" class="row">
                <div class="col-12">
                    <canvas class="w-100" id="current-day-chart" style="height:280px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
