@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall
    Student Number - S1828840, S1828601
    Date Created - 25/02/2019
    Version - 1.0.0

    Description:
    Page that contains partial views for all of the forecast analysis
*@

<div class="row">
    <div class="col-12">
        <div style="height:400px" class="card">
            <canvas class="w-100" style="height:400px" id="current-day-chart"></canvas>
        </div>
    </div>
</div>
