@model tmpst.Models.TrafficAPIKeys
@*
    Author Info:

    Name(s) - Mark Riley, Ross Taggart, Aidan Marshall
    Student Number - S1829984, S1828840, S1828601
    Date Created - 01/03/2019
    Version - 1.0.0

    Description:
    Page that will builds query for user
*@

<div class="row">
    <div class="col-12">
        <div class="card traffic-card-container">
            <div class="row traffic-card-item">
                <div id="collapsed-text-container" class="col-11 text-center">
                    <h5 style="display:none" id="traffic-incidents-wizard-collapsed-title">Traffic Incidents Wizard</h5>
                </div>
                <div id="traffic-incidents-collapse-expand" class="col-1 text-right tmpst-clickable">
                    <i id="traffic-incidents-wizard-arrow-up" class="fas fa-caret-up fa-2x"></i>
                    <i style="display:none" id="traffic-incidents-wizard-arrow-down" class="fas fa-caret-down fa-2x"></i>
                </div>
            </div>
            <div id="traffic-incidents-wizard-container">
                <div class="row traffic-card-item">
                    <div class="col-12 text-center">
                        <h5>Traffic Incidents Wizard</h5>
                    </div>
                </div>
                <div class="row traffic-card-item">

                </div>
                <div id="submit-traffic-incidents-request-container">
                    <div class="row">
                        <div class="col-12">
                            <button id="submit-traffic-incidents-request-btn" class="btn btn-success w-100">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    $('#traffic-incidents-collapse-expand').click(function () {
        $('#traffic-incidents-wizard-container').slideToggle("slow", function () {
            //if container is visible, show an arrow that allows the container to be minimised
            if (!$('#traffic-incidents-wizard-container').is(':visible')) {
                $('#traffic-incidents-wizard-arrow-up').fadeOut().promise().done(function () {
                    $('#traffic-incidents-wizard-arrow-down').fadeIn();
                    $('#traffic-incidents-wizard-collapsed-title').fadeIn();
                });
            }
            else {
                $('#traffic-incidents-wizard-arrow-down').fadeOut().promise().done(function () {
                    $('#traffic-incidents-wizard-arrow-up').fadeIn();
                    $('#traffic-incidents-wizard-collapsed-title').fadeOut();
                });
            }
        });
    });
</script>