@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall
    Student Number - S1828840, S1828601
    Date Created - 19/02/2019
    Version - 1.0.0

    Description:
    Partial View that displays the d3.js chart of where the user has requested weather data from
*@
<div class="row">
    <div class="col-12">
        <div class="card population-card-container ">
            <div id="population-header" class="col-12">
            </div>
            <div id="population-chart" style="text-align:center;">
                <div id="population-label" class="label" ></div>
                <div id="population-inner-chart"  class="chart"></div>
            </div>
        </div>
    </div>
</div>