<div class="text-center">
    <h2>Overview Page</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Overview/Overview.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="overview-tutorial-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('overview-tutorial')">Go Full Screen</button>
        <button style="display:none" id="overview-tutorial-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('overview-tutorial')">Exit Full Screen</button>
    </div>
    <hr />
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            This is the tutorial section for tmpst, it provides several tutorials which will show you how to use all the techniques we’ve used in the implementation of the website.
            These tutorials are as follows;
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <ul>
                <li>
                    Single Page Applications
                </li>
                <li>
                    User Secrets
                </li>
                <li>
                    Partial Views
                </li>
                <li>
                    ASP.NET Core
                </li>
                <li>
                    Bootstrap 4
                </li>
                <li>
                    Visual Studio 2017
                </li>
                <li>
                    .NET SDK
                </li>
                <li>
                    JSON
                </li>
                <li>
                    Earthquake API
                </li>
                <li>
                    GeoNames API
                </li>
                <li>
                    Mortality API
                </li>
                <li>
                    News API
                </li>
                <li>
                    Pollution API
                </li>
                <li>
                    Population API
                </li>
                <li>
                    REST Countries API
                </li>
                <li>
                    Weather API
                </li>
                <li>
                    Chart.js
                </li>
                <li>
                    D3.js
                </li>
                <li>
                    Font Awesome
                </li>
                <li>
                    Google Maps
                </li>
                <li>
                    Highcharts
                </li>
                <li>
                    jQuery
                </li>
                <li>
                    JS Tree
                </li>
                <li>
                    Prisim
                </li>
            </ul>
        </p>
    </div>
</div>

