<div class="text-center">
    <h2>Single Page Applications</h2>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <span>
            tmpst, as you may have noticed, does not support the use of the browser back button to return to the previous page. This is because tmpst was built to be a single page application 
            which handles navigation through JQuery. Throughout your time using the tmpst site, you are only actually interacting with one HTML page.
        </span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h3>Why?</h3>
        </div>
    </div>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <span>
            tmpst <i>could</i> function as a traditional application that uses multiple HTMl pages served by Http gets and posts <strong>BUT</strong> single page applications allow for many 
            benefits that can't be easily utilised by traditional applications

            As tmpst mainly consists of API calls and analysis, making use of AJAX calls.
        </span>
    </div>
    
</div>

