@model tmpst.Models.UserSecretCollection
<link href="~/css/Population/population.css" rel="stylesheet" />
@*
    Author Info:

    Name(s) - Mark Riley, Ross Taggart, Aidan Marshall
    Student Number - S1829984, S1828840, S1828601
    Date Created - 26/02/2019
    Version - 1.0.1

    Description:
    Page that will contain all population associated views
*@

@*Hi Ross I just stuck the script below give me a shout if you want me to move it*@

<script src="https://d3js.org/d3.v5.min.js"></script>

<div>
    <p id="bananas"></p><!--D3 TEST-->
    <div id="population-title-container" class="text-center">
        <h3 class="tmpst-title">Population Analysis</h3>
        <p class="tmpst-desc">Analyse current population data</p>
    </div>

    <div id="population-query-container">
        @await Html.PartialAsync("~/Views/Partials/Population/_PopulationQueryBuilder.cshtml", Model.Population)
    </div>

    <div id="population-cluster-map-container" style="display:none">
        @await Html.PartialAsync("~/Views/Partials/Population/Results/_PopulationChartContainer.cshtml")
    </div>

</div>

<script>

    $(function () {
        //Creates the chart based on the data provided
        d3.select("#bananas").style("color", "red"); //D3 Test
    });
</script>