@model tmpst.Models.PopulationAPIUrl
@*
    Author Info:

    Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Katie King
    Student Number - S1829984, S1828840, S1828601, S1827986
    Date Created - 25/02/2019
    Version - 1.0.1

    Description:
    Page that will container which builds query for user
*@

<div class="row">
    <div class="col-12">
        <div class="card population-card-container">
            <div class="row population-card-item">
                <div class="col-12 text-center">
                    <span>
                        <strong>Population Wizard</strong> <i onclick="collapseExpandToggle('population-wizard-arrow-up', 'population-wizard-arrow-down', 'population-wizard-container')" id="population-wizard-arrow-up" class="fas fa-caret-up fa-2x tmpst-clickable"></i><i onclick="collapseExpandToggle('population-wizard-arrow-down', 'population-wizard-arrow-up', 'population-wizard-container')" style="display:none" id="population-wizard-arrow-down" class="fas fa-caret-down fa-2x tmpst-clickable"></i>
                    </span>
                </div>
            </div>
            <div id="population-wizard-container">
                <div class="row population-card-item">
                    <div class="col-4">
                        <select id="country-input" class="form-control" required></select>
                    </div>
                    <div class="col-4">
                        <input id="year-input" class="form-control" placeholder="Year" required />
                    </div>
                    <div class="col-4">
                        <select id="visualisation-input" class="form-control" required>
                            <option value="" disabled selected>Select Visualisation</option>
                            <option value="radar-chart">Radar Chart</option>
                            <option value="bar-chart">Bar Chart</option>
                        </select>
                    </div>
                </div>



                <div id="submit-population-request-container">
                    <div class="row">
                        <div class="col-12">
                            <button id="submit-population-request-btn" onclick="submitPopulationRequest()" class="btn btn-success w-100">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    let dropdown = $('#country-input');

    dropdown.empty();

    dropdown.append('<option selected="true" disabled>Select Country</option>');
    dropdown.prop('selectedIndex', 0);

    const url = 'https://api.population.io/1.0/countries';
    
    // Populate dropdown with list of provinces
    $.getJSON(url, function (data) {
        $.each(data.countries, function (key, entry) {
            dropdown.append($('<option></option>').attr('value', entry).text(entry));
        })
    });

    function submitPopulationRequest() {
        //GET Data
        let year = $('#year-input').val();
        let visualisation = $('#visualisation-input').val();
        let country = formatCountryName($('#country-input').val());

        if (country == "Australia/New Zealand") { country = "New Zealand"; }
        
        let url = 'https://api.population.io/1.0/population/' + year + '/' + country + '/?format=jsonp';
        console.log("Created URL from user Input: " + url);
        $.ajax({
            type: "GET",
            url: url,
            crossDomain: true,
            dataType: 'jsonp',
            contentType: "application/json",
            success: function (result) {

                //Creates visualisation
                createD3Visualisation(result, visualisation);
                $('#population-chart').fadeIn(300);
                collapseExpandToggle('population-wizard-arrow-up', 'population-wizard-arrow-down', 'population-wizard-container');
            },
            error: function (errorResult) {
                console.log('ERROR: ', errorResult.statusText);

                if (errorResult.statusText == 'error') {
                    Swal.fire({
                        type: 'error',
                        title: 'Data Request Error',
                        text: 'An error has occurred when submitting your request. Please try again with different criteria.'
                    })
                }
                else if (errorResult.statusText == 'load') {
                    Swal.fire({
                        type: 'error',
                        title: 'Load Error',
                        text: 'An error has occurred when loading the data from our sources. Please refresh your screen.'
                    })
                }
            }
        });

    }

</script>