@model tmpst.Models.UserSecretCollection
<link href="~/css/Weather/weather.css" rel="stylesheet" />
@*
    Author Info:

    Name(s) - Mark Riley
    Student Number - S1829984
    Date Created - 18/02/2019
    Version - 1.0.0

    Description:
    Page that will contain all weather associated views
*@

<div id="weather-page">
    <div id="weather-title-container" class="text-center">
        <h3 class="tmpst-title">Weather Analysis</h3>
        <p class="tmpst-desc">Analyse current and future weather</p>
    </div>

    <div id="weather-query-container">
        @await Html.PartialAsync("~/Views/Partials/Weather/_WeatherQueryBuilder.cshtml", Model)
    </div>

    <div style="display:none" id="weather-map-container">
        @await Html.PartialAsync("~/Views/Partials/Weather/Results/_MapResultContainer.cshtml")
    </div>

</div>

