@model tmpst.Models.ApixuConfiguration
@*
    Author Info:

    Name(s) - Mark Riley
    Student Number - S1829984
    Date Created - 18/02/2019
    Version - 1.0.0

    Description:
    Page that will container which builds query for user
*@
<div class="row">
    <div class="col-12">
    <div class="card">

    </div>
</div>
</div>

