@model tmpst.Models.UserSecretCollection
<link href="~/css/Weather/weather.css" rel="stylesheet" />
@*
    Author Info:

    Name(s) - Mark Riley, Ross Taggart, Aidan Marshall,
    Student Number - S1829984, S1828840, S1828601
    Date Created - 18/02/2019
    Version - 1.0.1

    Description:
    Page that will contain all weather associated views
*@
<div>
    <div id="weather-title-container" class="text-center">
        <h3 class="tmpst-title">Weather Analysis</h3>
        <p class="tmpst-desc">Analyse current and future weather</p>
    </div>

    <div id="weather-query-container">
        @await Html.PartialAsync("~/Views/Partials/Weather/_WeatherQueryBuilder.cshtml", Model)
    </div>

    <!-- Only used when the user requests forecast data -->
    <div style="display:none" id="weather-forecast-data-container">
        @await Html.PartialAsync("~/Views/Partials/Weather/Results/_ForecastResultContainer.cshtml")
    </div>

    <!-- Only used when the user requests forecast data -->
    <div style="display:none" id="weather-current-data-container">
        @await Html.PartialAsync("~/Views/Partials/Weather/Results/_CurrentWeatherResult.cshtml")
    </div>

    <div style="display:none" id="weather-forecast-data-container-mobile">
        @await Html.PartialAsync("~/Views/Partials/Weather/Results/Mobile/_ForecastResultContainerMobile.cshtml")
    </div>

    <!-- Forecast Weather Analysis Page -->
    <div style="display:none" id="weather-analysis-landing">
        @await Html.PartialAsync("~/Views/Partials/Weather/Analysis/_WeatherAnalysisLandingPage.cshtml")
    </div>
    <!-- END: Forecast Weather Analysis Page -->
</div>

