@*
    Author Info:

    Name(s) - Ross Taggart
    Student Number - S1828840
    Date Created - 25/02/2019
    Version - 1.0.0

    Description:
    Page that contains partial views for all of the forecast analysis
*@

<div class="row">
    <div class="col-12">
        <canvas height="400" width="400" id="forecast-overall-chart"></canvas>
    </div>
</div>