@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Katie King
        Student Number - S1829984, S1828840, S1828601, S1827986
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all author associated views
*@


<div class="person mark">
    <img src="~/images/About Us/Mark.png">
    <h1>Mark Riley</h1>
    <p>
        "If you can still turn back, it’s not really
        a journey. When you hit the point of no
        return, that’s when the journey begins"
    </p>
    <hr />
    <p> <i class="fab fa-github"></i>&nbsp;<a style="color: white;" href="https://github.com/AverageBear1899"> AverageBear1899</a> -  <i class="fab fa-linkedin">&nbsp;</i><a style="color: white;" href="https://www.linkedin.com/in/mark-riley-510935175/">Mark Riley</a></p>
    <p>
        Roles/activities in the project: Mark was a full-stack developer and editor in the project and created a number of systems within the project, as well as editing and checking all written work within the project.
        In the website Mark developed the weather & earthquake section with Ross Taggart and co-developed the pollution with Aidan Marshall.
        In addition, Mark contributed towards the group document, the initiation document and the presentation as well as creating the initial design for the site.
    </p>
</div>
