@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Marc Leese, Katie King
        Student Number - S1829984, S1828840, S1828601, S1827987, S1827986
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all author associated views
*@


<div class="person marc">
    <img src="~/images/About Us/Marc.png">
    <h1>Marc Leese</h1>
    <p>"When the going gets tough don't fold: double down" </p>
    <hr />
    <p><i class="fab fa-github"></i>&nbsp;<a style="color: white;" href="https://github.com/Marcleese1">MarcLeese</a> - <i class="fab fa-linkedin">&nbsp;</i><a style="color: white;" href="https://www.linkedin.com/in/marc-leese-0823ba106/">Marc Leese</a></p>
    <p>
        Roles/activities in the project: Marc was the Main Tester of the Site and the person who implemented the Motality API.
                                         He also helped implement the tutorials along with Aidan Marshall and Mark Riley.
    </p>
</div>

