@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Katie King
        Student Number - S1829984, S1828840, S1828601, S1827986
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all author associated views
*@


<div class="person katie">
    <img src="~/images/About Us/Katie.png">
    <h1>Katie King</h1>
    <p>"I asked you what, You did not reply." </p>
    <hr />
    <p>Portfolio: <a href="https://www.aidanm.com/">aidanm.com</a> - LinkedIn: <a href="https://www.aidanm.com/">aidanm.com</a></p>
</div>
