@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall
        Student Number - S1829984, S1828840, S1828601
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all author associated views
*@


<div class="person ross">
    <img src="~/images/About Us/Ross.png">
    <h1>Ross Taggart</h1>
    <p>"Some things that are viewed as impossible may be being viewed from the worng angle" </p>
    <hr />
    <p>Portfolio: <a href="https://www.aidanm.com/">aidanm.com</a> - LinkedIn: <a href="https://www.aidanm.com/">aidanm.com</a></p>
</div>
