@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Katie King
        Student Number - S1829984, S1828840, S1828601, S1827986
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all author associated views
*@


<div class="person ross">
    <img src="~/images/About Us/Ross.png">
    <h1>Ross Taggart</h1>
    <p>"Some things that are viewed as impossible may be being viewed from the wrong angle" </p>
    <hr />
    <p><i class="fab fa-github"></i>&nbsp;<a style="color: white;" href="https://github.com/rtaggart16">rtaggart16</a> - <i class="fab fa-linkedin">&nbsp;</i><a style="color: white;" href="https://www.linkedin.com/in/ross-taggart-b05346168/">Ross Taggart</a></p>
    <p>
        Roles/activities in the project: Ross was a full-stack developer and tester during the project.
        In the website Ross developed the weather and earthquake systems, as well as the country information page, in conjunction with Mark Riley as well as taking the lead
        on writing the backbone structure of the tutorial system and compiling sources into useful tutorials for users.
        In addition, Ross contributed towards the group document, the initiation document and the presentation.
    </p>
</div>
