@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall
        Student Number - S1829984, S1828840, S1828601
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all author associated views
*@


<div class="person aidan">
    <img src="~/images/About Us/Aidan.png">
    <h1>Aidan Marshall</h1>
    <p>"When the going gets tough don't fold: double down" </p>
    <hr />
    <p>Portfolio: <a href="https://www.aidanm.com/">aidanm.com</a> - LinkedIn: <a href="https://www.aidanm.com/">aidanm.com</a></p>
</div>
