@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Katie King
        Student Number - S1829984, S1828840, S1828601, S1827986
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all author associated views
*@


<div class="person marc">
    <img src="~/images/About Us/Marc.png">
    <h1>Marc Leese</h1>
    <p>"When the going gets tough don't fold: double down" </p>
    <hr />
    <p><i class="fab fa-github"></i>&nbsp;<a href="https://github.com/Marcleese1">MarcLeese1</a> - <i class="fab fa-linkedin">&nbsp;</i><a href="https://www.linkedin.com/in/marc-leese-0823ba106/">Marc Leese</a></p>
    <p>
        Roles/activities in the project: Aidan was the project manager in the project and arranged the process of the project.
        In the website Aidan developed the population section and co-developed the pollution with Mark Riley.
        In addition, Aidan contributed towards the group document, the initiation document and the presentation.
    </p>
</div>
