@model tmpst.Models.UserSecretCollection
@*
    @*
        Author Info:

        Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Katie King
        Student Number - S1829984, S1828840, S1828601, S1827986
        Date Created - 25/02/2019
        Version - 1.0.1

        Description:
        Page that will contain all author associated views
*@


<div class="person katie">
    <img src="~/images/About Us/Katie.png">
    <h1>Katie King</h1>
    <p>"I asked you what, You did not reply." </p>
    <hr />
    <p><i class="fab fa-github"></i>&nbsp; <a href="https://github.com/ktykng">ktykng</a> - <i class="fab fa-linkedin">&nbsp;</i><a href="https://www.linkedin.com/in/katie-king-94890a175/">Katie King</a></p>
    <p>
        Roles/activities in the project: Aidan was the project manager in the project and arranged the process of the project.
        In the website Aidan developed the population section and co-developed the pollution with Mark Riley.
        In addition, Aidan contributed towards the group document, the initiation document and the presentation.
    </p>
</div>
