/*
    Author Info:

    Name(s) - Mark Riley
    Student Number - S1829984
    Date Created - 18/02/2019
    Version - 1.0.0

    Description:
    The weather css file for the application
*/

/*------------------------------------------------------
>>> TABLE OF CONTENTS:
--------------------------------------------------------
# Common
--------------------------------------------------------
*/

/*--------------------------------------------------------------------------
    # Common
---------------------------------------------------------------------------*/

.new-page {
    padding-top: 20px;
    padding-bottom: 10px;
}

body {
    padding-top: 55px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
}
/*--------------------------------------------------------------------------
    END: # Common
---------------------------------------------------------------------------*/
