<div class="text-center">
    <h2>D3 Tutorial</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Visualisations/D3.JS.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="d3-tutorial-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('d3-tutorial')">Go Full Screen</button>
        <button style="display:none" id="d3-tutorial-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('d3-tutorial')">Exit Full Screen</button>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            D3.js is a Javascript library for visualisation tool for visualizing data to current web standards. D3 uses SVG, Canvas and HTML to append data, providing visualisation and data interaction for the dataset you provide. 
            D3 provides you with the ability to create more than just charts, unlike the other visualisation tools we used throughout the project, as it also provides you with the ability for DOM manipulation to append data to HTML elements, 
            much like jQuery and Javascript, because of this the library provides the ability for endless types of visualisations, with some examples from their website being;
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 tutorial-para">
        <p>
              <a href="https://bl.ocks.org/mbostock/2522624ada2c1f9e0fafb75cca09442b">US Population Density</a>
             - <a href="https://bl.ocks.org/mbostock/8fe6fa6ed1fa976e5dd76cfa4d816fec">D3 Treemap</a>
             - <a href="https://bl.ocks.org/mbostock/9a8124ccde3a4e9625bc413b48f14b30">Force Directed Tree</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            By having such a diverse library at our disposal we had an endless list of examples to choose from for our visualisations, 
            unfortunately, one of the drawbacks of having such a large library is that it can be difficult to settle on the appropriate visualisation.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Within the development of TMPST we used the D3 library twice in our population pages, which allow the user to input the country, 
            year and visualisation type (Bar Chart/Radar), our radar chart is shown here;
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/Radar Chart.PNG" />
    </div>
</div>
<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            For further information and in-depth tutorials for D3 and user-generated chart examples, please visit; <a href="">https://github.com/d3/d3/wiki</a>
        </p>
    </div>
</div>
