<div class="text-center">
    <h2>eCharts Tutorial</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Visualisations/eCharts.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="usr-scrt-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('echarts-tutorial')">Go Full Screen</button>
        <button style="display:none" id="usr-scrt-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('echarts-tutorial')">Exit Full Screen</button>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            eCharts is an open source charts library that used to visualize data, this charting library was originally created as a solution to the reporting needs of various business systems in China. Although this has been a Chinese creation it has been used world-wide and been named one
            of the “Ten Hottest Domestic Open Source Projects of the year” in 2013.
        </p>
    </div>
</div>



<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            eCharts allow for various different chart types, these are:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <ul>
                <li>Line</li>
                <li>Bar</li>
                <li>Scatter</li>
                <li>Candlestick</li>
                <li>Pie</li>
                <li>Radar</li>
                <li>Chord</li>
                <li>FD chart</li>
                <li>Gauges</li>
                <li>Funnels</li>
                <li>EventRiver</li>
                <li>Heatmap</li>
                <li>Venn</li>
                <li>Treemap</li>
                <li>Tree</li>
                <li>Wordcloud</li>
                <li>And others</li>
            </ul>
        </p>
    </div>
</div>



<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            We had already used numerous different charting libraries
            within the tmpst website so we decided as a team to use a doughnut chart from 
            the eChart library as the last visualization for the website.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            We used this visualization in conjunction with the World Population API 
            to display the mortality rate of different countries in the world. 
            This API offered us a lot of data sets to work from, this was the second time we 
            used this API and visualised it, which can be seen in the D3 tutorial.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            This is an example of our mortality doughnut chart:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <img src="~/images/Tutorials/Visualisation/eCharts-doughnut-chart.png" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            This chart uses the user's query of country and gender to display the percentage of likely death at various ages.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            For more charts and a more in-depth tutorial on how to create this visualization, visit the charts website  - 
            <a href="https://echarts.baidu.com/echarts2/doc/example-en.html">https://echarts.baidu.com/echarts2/doc/example-en.html</a>
        </p>
    </div>
</div>