<div class="text-center">
    <h2>Font Awesome Tutorial</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Visualisations/Font_Awesome.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="font-awesome-tutorial-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('font-awesome-tutorial')">Go Full Screen</button>
        <button style="display:none" id="font-awesome-tutorial-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('font-awesome-tutorial')">Exit Full Screen</button>
    </div>
    
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Font awesome is an open-source project that is available on GitHub and provides developers
            with a font and icon toolkit based on CSS (Cascading Style Sheets). It is a library that can be
            installed and used within local applications to display various icons and fonts needed to liven up
            a web application. The font awesome website provides you with countless documentation and
            examples on how to use their product.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Font Awesome is one of the leading font scripts used by websites which makes use of
            third-party font script, in line with font awesome is Google Fonts. We decided to not use Google
            Fonts as it would have been slower and made our website less efficient, by loading and storing
            all fonts and icons locally. With font awesome we only load the icons and font we require once
            and they are not stored.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            We have used their icons on various pages of our website, we used their arrow icon to let the
            user close and open the query wizard within each main view of the website.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Example:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/font-awesome-arrow-down.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/font-awesome-arrow-up.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/font-awesome-arrow-up-code.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/font-awesome-arrow-down-code.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            We also used Font Awesome in the about us section of the website to indicate to the
            user which link is our LinkedIn and out GitHub accounts.
            Example:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/font-awesome-git-linkedIn-icons.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            This is where the linkedIn, and github icons are coded into the about us page, each
            member has a separate card and this is coded into each members card.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/font-awesome-git-linkedIn-code.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            There are descriptive and more detailed documentation and examples at the Font
            Awesome website - <a href="https://fontawesome.com/"> https://fontawesome.com/ </a>
        </p>
    </div>
</div>