<div class="text-center">
    <h2>Google Maps Tutorial</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Visualisations/Google_Maps.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="usr-scrt-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('googlemaps-tutorial')">Go Full Screen</button>
        <button style="display:none" id="usr-scrt-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('googlemaps-tutorial')">Exit Full Screen</button>
    </div>
    
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The Google Maps API allows developers to use their own data set to plot various point on a
            map relating to the data collected from the API used. This chart gives the user multiple options
            for API depending on the view the developer would like to implement. This API comes in
            javascript and supports multiple web browsers.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The different maps that the Google Maps Platform allows for are:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <ul>
                <li>
                    Maps
                    <ul>
                        <li>
                            Street View
                        </li>
                        <li>
                            Static View
                        </li>
                        <li>
                            Satellite View
                        </li>
                    </ul>
                </li>
                <li>
                    Routes
                    <ul>
                        <li>
                            Directions
                        </li>
                        <li>
                            Distance
                        </li>
                        <li>
                            Roads
                        </li>
                    </ul>
                </li>
                <li>
                    Places
                    <ul>
                        <li>
                            Geocoding
                        </li>
                        <li>
                            Geolocation
                        </li>
                        <li>
                            Time Zones
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            We decided to use this API on 2 different occasions within the tmpst application, the first time
            we used this visualization was in the weather branch of the website. When you view the current
            condition, it asks the user to enter a place name and that place name is then pinpointed on a
            google map and displayed.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/googleMaps-weather.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The second instance that we used google maps was the earthquake section of the website. In
            this page, we ask the user to enter the time period they would like to look at and the scale of the
            earthquake, these results are shown on a map and clustered together depending on how close
            in the location they are
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/googleMaps-earthquakes.png" />
    </div>
</div>

<div class="row">
<div class="col-12 tutorial-para">
    <p>
        As you can see in the image above it has clustered, 147 locations of earthquakes north of South
        America.
    </p>
</div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The Google Maps Platform website as many different examples and documentation. Their
            website will be a better tutorial than we will ever be able to provide -
            <a href="https://developers.google.com/maps/documentation/"> https://developers.google.com/maps/documentation/ </a>
        </p>
    </div>
</div>


