<div class="text-center">
    <h2>Highcharts Tutorial</h2>
    <hr />
</div>


<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Visualisations/Highcharts.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="highcharts-tutorial-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('highcharts-tutorial')">Go Full Screen</button>
        <button style="display:none" id="highcharts-tutorial-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('highcharts-tutorial')">Exit Full Screen</button>
    </div>

</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Highcharts is a multi-platform charting library that is SVG-based, it makes it easier to add
            interactivity into web and mobile projects in the form of charts.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Highcharts was created by a company called Highsoft, Highcharts is there number one product
            and since its launch in 2009, it has continuously remained the fastest growing charting-tool
            within its competitive market.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Highcharts offer various charts for the user to choose from:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <ul>
                <li>
                    Line
                </li>
                <li>
                    Area
                </li>
                <li>
                    Column
                </li>
                <li>
                    Bar
                </li>
                <li>
                    Pie
                </li>
                <li>
                    Scatter
                </li>
                <li>
                    Bubble
                </li>
                <li>
                    Dynamic
                </li>
                <li>
                    3D
                </li>
                <li>
                    Gauges
                </li>
                <li>
                    Heat
                </li>
                <li>
                    Tree
                </li>
                <li>
                    Sunburst
                </li>
                <li>
                    Waterfall
                </li>
                <li>
                    And many more
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            We used Highcharts twice within the tmpst website, the first time we used highcharts was to
            visualize the data we had from an air pollution API, it created a bar chart showing the values of
            each element or product that is in the air.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/highcharts-airPollution-barChart.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            We used highcharts for the second time using the Newsfeed API to gather news stories from
            different categories and countries, this was visualised into a sunburst chart, by the source from
            the specified country.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/highcharts-news-sunburst.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The highcharts website has brilliant examples and documentation on how to use their charts,
            our team highly recommends using these when creating your visualizations -
            <a href="https://www.highcharts.com/"> https://www.highcharts.com/ </a>
        </p>
    </div>
</div>