<div class="text-center">
    <h2>Prisim Tutorial</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('Visualisations/Prism.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="usr-scrt-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('prisim-tutorial')">Go Full Screen</button>
        <button style="display:none" id="usr-scrt-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('prisim-tutorial')">Exit Full Screen</button>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Prism is a library that provides the ability to highlight code in a text document, that is an open source library. 
            Prism provides us with the ability to highlight code in our tutorial documents, which makes it easier to read the syntax used throughout the project. 
            Any code you read in our tutorials has been highlighted using Prism. This library fit in with our philosophy of simplicity which we’ve tried to adhere to throughout this project.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Prism has a host of features that made it a good choice for us when creating the tutorials page, such as;
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <ul>
                <li>
                    Wide browser support, IE9, Chrome, Firefox, Safari etc
                </li>
                <li>
                    Highlights embedded languages, such as Javascript inside HTML
                </li>
                <li>
                    Highlights inline code
                </li>
                <li>
                    Prism doesn't force you to use any specific prism markup language
                </li>
                <li>
                    With additional plugins, you can also highlight specific lines, show invisible characters and auto-link URLs and emails
                </li>
            </ul>
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            In our tutorials pages, any of the tutorials that have code snippets have been highlighted using Prism, which can be shown on the website here;
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/Visualisation/Prism.PNG" />
    </div>
</div>
<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            For more information about Prism and how you can use it in your projects, please visit;
            <a href="https://prismjs.com/">https://prismjs.com/</a>

        </p>
    </div>
</div>
