@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall,
    Student Number - S1828840, S1828601,
    Date Created - 04/03/2019
    Version - 1.0.0

    Description:
    Partial View that displays air poll where the user has requested
*@
<div class="row">
    <div class="col-12">
        <div class="card weather-card-container">
            <div style="height:300px" id="pollution-chart">
            </div>
        </div>
    </div>
</div>
