<div class="text-center">
    <h2>Earthquake Tutorial</h2>
    <hr />
</div>

<div class="row text-center">
    <div class="col-12 tutorial-para">
        <button onclick="downloadPDF('APIs/Earthquake_API.pdf')" class="btn btn-secondary"><span>View as a PDF <i class="fas fa-file-pdf fa-2x"></i></span></button>
        <button id="earthquake-tutorial-full-screen-btn" class="btn btn-success" onclick="tutFullScreen('earthquake-tutorial')">Go Full Screen</button>
        <button style="display:none" id="earthquake-tutorial-rmv-full-screen-btn" class="btn btn-danger" onclick="tutRemoveFullSCreen('earthquake-tutorial')">Exit Full Screen</button>
    </div>
    <hr />
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            An earthquake is the shaking of the surface of the Earth, resulting from the sudden 
            release of energy in the Earth's lithosphere that creates seismic waves. Earthquakes 
            can range in size from those that are so weak that they cannot be felt 
            to those violent enough to toss people around and destroy whole cities.
            <a href="https://en.wikipedia.org/wiki/Earthquake">(Wikipedia)</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Each time format has a magnitude level endpoint which
            provides up to date information which is update every 5 minutes.
            Monthly data is updated every 5 minutes.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            In this tutorial:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <span><strong>Pre-Requisites</strong></span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <ul>
                <li>
                    Understanding of GeoJSON format
                </li>
                <li>
                    A USGS API endpoint address (<a href="https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php">https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php</a>)
                </li>
                <li>
                    A suitable method for making a request (Postman: <a href="https://www.getpostman.com/downloads/">https://www.getpostman.com/downloads/</a> or in new tab)
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Aims</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <ul>
                <li> Learn how to request data from one of the USGS earthquake feeds in Postman </li>
                <li>Learn how to request data from one of the USGS earthquake feeds in a new tab</li>
                <li>Learn how to request data from one of the USGS earthquake feeds using AJAX call </li>
            </ul>
        </p>
    </div>
</div>



<div class="text-center">
    <h3>Postman Tutorial</h3>
    <hr />
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            In this tutorial, we will create a request to a USGS earthquake feed using the postman application on Windows.
            Before proceeding with this tutorial, please ensure you have access to the Postman application or are using the online version.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Steps
            <ol>
                <li>Choose endpoint to request data from</li>
                <li>Construct request in Postman</li>
            </ol>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Step 1: Choose endpoint to request data from</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            As mentioned earlier, USGS offers many earthquake feed endpoints to choose from.
            In this tutorial, not all sources will be shown because the request format is identical
            for all. It is important to keep in mind that not all sources will have data at the time
            of request. For example, making a request for significant earthquakes in the last hour
            may not return any information because no earthquakes may have occurred. With that in mind, the endpoint
            that will be used for this tutorial is all monthly earthquakes. This endpoint will almost
            always have data so it is good as an example. The endpoint is shown below:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <a href="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson">https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Step 2: Construct request in Postman</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            This tutorial assumes that you have a basic understanding of how to use Postman.
            If not, we provide a tutorial on how to utilise Postman properly that you may
            wish to read before you continue with this tutorial. If you know how to use Postman,
            create a new GET request and give it an appropriate name. The name I will use in this
            tutorial is “USGS All Monthly Earthquakes Request”. If you have setup the request
            properly you should see the following:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/APIs/Earthquake/postman-request.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Nothing will happen if you attempt to send the request as the url box is empty.
            Now all that is required is to add the url mentioned in step 1 to the url box
            and hit send. You should see the following:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/APIs/Earthquake/postman-response.png" />
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Part of the response is shown below in plain text:
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <pre>
            <code class="language-javascript">
{
    "type": "FeatureCollection",
    "metadata": {
        "generated": 1552735907000,
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson",
        "title": "USGS All Earthquakes, Past Month",
        "status": 200,
        "api": "1.7.0",
        "count": 8420
    },
    "features": [
        {
            "type": "Feature",
            "properties": {
                "mag": 4.1,
                "place": "76km S of Kobuk, Alaska",
                "time": 1552733786570,
                "updated": 1552734833040,
                "tz": -540,
                "url": "https://earthquake.usgs.gov/earthquakes/eventpage/us1000jh0v",
                "detail": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/us1000jh0v.geojson",
                "felt": null,
                "cdi": null,
                "mmi": 4.23,
                "alert": "green",
                "status": "reviewed",
                "tsunami": 0,
                "sig": 259,
                "net": "us",
                "code": "1000jh0v",
                "ids": ",us1000jh0v,ak0193g7lf43,",
                "sources": ",us,ak,",
                "types": ",geoserve,losspager,origin,phase-data,shakemap,",
                "nst": null,
                "dmin": 2.388,
                "rms": 0.63,
                "gap": 95,
                "magType": "ml",
                "type": "earthquake",
                "title": "M 4.1 - 76km S of Kobuk, Alaska"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -157.1611,
                    66.233,
                    10
                ]
            },
            "id": "us1000jh0v"
        }
        ]
}
                </code>
            </pre>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The full response can’t be shown as it is too large.
            As you can see the response is in a GeoJSON format
            which defines a list of features with geographical
            points for each item.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The full response can’t be shown as it is too large.
            As you can see the response is in a GeoJSON format
            which defines a list of features with geographical
            points for each item.
        </p>
    </div>
</div>






<div class="text-center">
    <h3>Browser Request Tutorial</h3>
    <hr />
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            In this tutorial, we will create a request to a USGS earthquake feed using
            a new tab on a Google Chrome browser. For this tutorial, we will use the
            same endpoint as is used in the Postman example:

        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <a href="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson">https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson</a>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Steps
            <ol>
                <li>Add url to tab and run</li>
            </ol>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Step 1: Add url to tab and run</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            This tutorial is easier than either the Postman method or the AJAX method (still to come)
            as it only involves using a tab in a browser as if you are navigating to a web page.
            To get a result, add the url to the address bar and hit enter and you should see the following:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/APIs/Earthquake/html-response.png" />
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The result is shown in plain text below:
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <pre>
            <code class="language-javascript">
{
    "type": "FeatureCollection",
    "metadata": {
        "generated": 1552735907000,
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson",
        "title": "USGS All Earthquakes, Past Month",
        "status": 200,
        "api": "1.7.0",
        "count": 8420
    },
    "features": [
        {
            "type": "Feature",
            "properties": {
                "mag": 4.1,
                "place": "76km S of Kobuk, Alaska",
                "time": 1552733786570,
                "updated": 1552734833040,
                "tz": -540,
                "url": "https://earthquake.usgs.gov/earthquakes/eventpage/us1000jh0v",
                "detail": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/us1000jh0v.geojson",
                "felt": null,
                "cdi": null,
                "mmi": 4.23,
                "alert": "green",
                "status": "reviewed",
                "tsunami": 0,
                "sig": 259,
                "net": "us",
                "code": "1000jh0v",
                "ids": ",us1000jh0v,ak0193g7lf43,",
                "sources": ",us,ak,",
                "types": ",geoserve,losspager,origin,phase-data,shakemap,",
                "nst": null,
                "dmin": 2.388,
                "rms": 0.63,
                "gap": 95,
                "magType": "ml",
                "type": "earthquake",
                "title": "M 4.1 - 76km S of Kobuk, Alaska"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -157.1611,
                    66.233,
                    10
                ]
            },
            "id": "us1000jh0v"
        }
        ]
}
                </code>
            </pre>
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Once again, the full response is not shown as it is too large.
        </p>
    </div>
</div>








<div class="text-center">
    <h3>AJAX Tutorial</h3>
    <hr />
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The above methods show you how to access the USGS feed and
            view the data, however, neither method involves any coding
            and neither would work well in an application’s context.
            So, in this tutorial we will connect to the monthly feed using
            AJAX which can then be put into the javascript of any application

        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Steps
            <ol>
                <li>Create a new playcode project</li>
                <li>Add the provided AJAX code and run</li>
            </ol>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Step 1: Create a new playcode project</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            For this tutorial, playcode will be used to demonstrate the AJAX request.
            Although we are using playcode, almost any online JavaScript IDE would
            work (JsFiddle). If you search for playcode and
            click on the link you should see the following default project setup:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/APIs/Earthquake/ajax-request.png" />
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Playcode is ideal for this tutorial as we only need to
            change the js file and view the console as jquery is
            referenced as standard
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Step 2: Add the provided AJAX code and run</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            The AJAX required to fetch the data programatically is:
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            <pre>
            <code class="language-javascript">
$.ajax({
        type: "GET",
        url: "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson",
        contentType: "application/vnd.geo+json",
        success: function (result) {
            //////console.log('AJAX Response: ', result);
        },
        error: function (errorResult) {
            //////console.log('ERROR: ', errorResult.statusText);
        }
    });
                </code>
            </pre>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            If you replace the contents of script.js with
            the above AJAX and run the code, you should see
            the following:
        </p>
    </div>
</div>



<div class="row">
    <div class="col-12 tutorial-para">
        <img src="~/images/Tutorials/APIs/Earthquake/ajax-response.png" />
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            As you can see this result looks similar to the other results
            we have seen earlier in the project, however, this code can be
            added to an application and the data can be fetched and altered
            dynamically.

        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Note: If playcode hangs or feels unresponsive
            when running this code there is no need
            to worry, their is a lot of data to process from this feed
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Conclusion</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            That is the methods which can be used to request data from the USGS feeds.
            The most useful of the methods is
            AJAX, however, the others can be used for testing and ensuring the quality of the data.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Common Issues:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Normally, implementing the methods discussed in this tutorial are relatively easy,
            however, some of the most common issues are detailed below:
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <ul>
            <li>
                Lack of responsiveness - Depending on the feed chosen, the method used to fetch
                the data can seem slow because it has to process thousands of earthquakes sometimes. Normally,
                the request should complete quite quickly without too much impact on the user
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Outcomes</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            You should now be able to:
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <ul>
            <li>
                Request data from one of the USGS earthquake feeds in Postman
            </li>
            <li>
                Request data from one of the USGS earthquake feeds in a new tab
            </li>
            <li>
                Request data from one of the USGS earthquake feeds using AJAX call
            </li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>References</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <p>
            Although we hope this tutorial has been all the help you need, here are some useful links that may be of use:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <span><strong>Useful Resources:</strong></span>
    </div>
</div>

<div class="row">
    <div class="col-12 tutorial-para">
        <ul>
            <li>
                USGS data feeds - <a href="https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php">https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php</a>

            </li>
            <li>
                Functional playcode AJAX request - <a href="https://playcode.io/268741?tabs=console&script.js&output">https://playcode.io/268741?tabs=console&script.js&output</a>
            </li>
        </ul>
    </div>
</div>