@model tmpst.Models.NewsAPIKeys
@*
    Author Info:
    
    Name(s) - Mark Riley, Ross Taggart, Aidan Marshall, Katie King
    Student Number - S1829984, S1828840, S1828601, S1827986
    Date Created - 25/02/2019
    Version - 1.0.1

    Description:
    Page that will container which builds query for user
*@

<div class="row">
    <div class="col-12">
        <div class="card news-card-container">
            <div class="row news-card-item">
                <div id="collapsed-text-container" class="col-11 text-center">
                    <h5 style="display:none" id="news-wizard-collapsed-title">News Wizard</h5>
                </div>

                <div id="news-collapse-expand" class="col-1 text-right tmpst-clickable">
                    <i id="news-wizard-arrow-up" class="fas fa-caret-up fa-2x"></i>
                    <i style="display:none" id="news-wizard-arrow-down" class="fas fa-caret-down fa-2x"></i>
                </div>
            </div>

            <div id="news-wizard-container">
                <div class="row news-card-item">
                    <div class="col-12 text-center">
                        <h5>News Wizard</h5>
                    </div>
                </div>
                <div class="row news-card-item">
                    <div class="col-4">
                        <select class="form-control" id="news-country-input">
                            <option value="" disabled selected>Select Country</option>
                            <option value="ae">United Arab Emirates</option>
                            <option value="ar">Argentina</option>
                            <option value="at">Austria</option>
                            <option value="au">Australia</option>
                            <option value="be">Belgium</option>
                            <option value="bg">Bulgaria</option>
                            <option value="br">Brazil</option>
                            <option value="ca">Canada</option>
                            <option value="ch">Switzerland</option>
                            <option value="cn">China</option>
                            <option value="co">Colombia</option>
                            <option value="cu">Cuba</option>
                            <option value="cz">Czechia</option>
                            <option value="de">Germany</option>
                            <option value="eg">Egypt</option>
                            <option value="fr">France</option>
                            <option value="gb">United Kingdom</option>
                            <option value="gr">Greece</option>
                            <option value="hk">Hong Kong</option>
                            <option value="hu">Hungary</option>
                            <option value="id">Indonesia</option>
                            <option value="ie">Ireland</option>
                            <option value="il">Israel</option>
                            <option value="in">India</option>
                            <option value="it">Italy</option>
                            <option value="jp">Japan</option>
                            <option value="kr">Republic of Korea</option>
                            <option value="lt">Lithuania</option>
                            <option value="lv">Latvia</option>
                            <option value="ma">Morocco</option>
                            <option value="mx">Mexico</option>
                            <option value="my">Malaysia</option>
                            <option value="ng">Nigeria</option>
                            <option value="nl">Netherlands</option>
                            <option value="no">Norway</option>
                            <option value="nz">New Zealand</option>
                            <option value="ph">Philippines</option>
                            <option value="pl">Poland</option>
                            <option value="pt">Portugal</option>
                            <option value="ro">Romania</option>
                            <option value="rs">Serbia</option>
                            <option value="ru">Russian Federation</option>
                            <option value="sa">Saudi Arabia</option>
                            <option value="se">Sweden</option>
                            <option value="sg">Singapore</option>
                            <option value="si">Slovenia</option>
                            <option value="sk">Slovakia</option>
                            <option value="th">Thailand</option>
                            <option value="tr">Turkey</option>
                            <option value="tw">Taiwan</option>
                            <option value="ua">Ukraine</option>
                            <option value="us">United States of America</option>
                            <option value="ve">Venezuela</option>
                            <option value="za">South Africa</option>

                        </select>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="news-category-input">
                            <option value="" disabled selected>Select Category</option>
                            <option value="business">Business</option>
                            <option value="entertainment">Entertainment</option>
                            <option value="general">General</option>
                            <option value="health">Health</option>
                            <option value="science">Science</option>
                            <option value="sports">Sports</option>
                            <option value="technology">Technology</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="news-visualisation-input">
                            <option value="" disabled selected>Select Visualisation</option>
                            <option value="wordcloud">Word Cloud</option>
                            <option value="sunburst">Sun Burst</option>
                        </select>
                    </div>
                </div>

                

                <div id="submit-news-request-container">
                    <div class="row">
                        <div class="col-12">
                            <button id="submit-news-request-btn" onclick="submitNewsRequest()" class="btn btn-success w-100">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>

    function submitNewsRequest() {

        let countryDropdown = $('#news-country-input').val();
        let categoryDropdown = $('#news-category-input').val();
        let visualisationDropdown = $('#news-visualisation-input').val();
        
        

        if (countryDropdown == null || categoryDropdown == null || visualisationDropdown == null)
        {
            Swal.fire({
                type: 'error',
                title: 'Fields missing',
                text: 'Neither field has been entered. Please enter the country and category.'
            })
        }
        else
        {
            let requestUrl = 'https://newsapi.org/v2/top-headlines?country=' + countryDropdown + '&category=' + categoryDropdown + '&language=en&apiKey=' + '@Model.App_Key';

            $.ajax({
                type: "GET",
                url: requestUrl,
                dataType: "json",
                success: function (result) {
                    $('#news-wizard-arrow-up').click().promise().done(function () {
                        $('#news-card-container').fadeIn(300);
                    });

                    //Passes in the name of the options for the wordchart
                    let countryName = $('#news-country-input option:selected').text();
                    let categoryName = $('#news-category-input option:selected').text();
                    let visualisationName = $('#news-visualisation-input option:selected').val();

                    console.log(visualisationName);

                    if (visualisationName == "wordcloud") {
                        wordcloudNewsVisualization(result, countryName, categoryName);
                    }
                    else {
                        sunburstNewsVisualization(result, countryName, categoryName);
                    }
                    
                },
                error: function (errorResult) {


                    Swal.fire({
                        type: 'error',
                        title: 'Data Request Error',
                        text: 'An error has occurred when submitting your request. Please try again with different criteria.'
                    })
                }
            });
        }

        

    }


     
    $('#news-collapse-expand').click(function () {
        $('#news-wizard-container').slideToggle("slow", function () {
            //if container is visible, show an arrow that allows the container to be minimised
            if (!$('#news-wizard-container').is(':visible')) {
                $('#news-wizard-arrow-up').fadeOut().promise().done(function () {
                    $('#news-wizard-arrow-down').fadeIn();
                    $('#news-wizard-collapsed-title').fadeIn();
                });
            }
            else {
                $('#news-wizard-arrow-down').fadeOut().promise().done(function () {
                    $('#news-wizard-arrow-up').fadeIn();
                    $('#news-wizard-collapsed-title').fadeOut();
                });
            }
        });
    });



</script>
