@*
    Author Info:

    Name(s) - Ross Taggart, Aidan Marshall, Katie King
    Student Number - S1828840, S1828601, S1827986
    Date Created - 19/02/2019
    Version - 1.0.0

    Description:
    Partial View that displays the map of all earthquakes within the user's specified range
*@
<div class="row">
    <div class="col-12">
        <div class="card earthquake-card-container">
            <div style="height:300px" id="earthquake-cluster-map">
            </div>
        </div>
    </div>
</div>