/*
    Author Info:

    Name(s) - Mark Riley, Ross Taggart, Katie King,
    Student Number - S1829984, S1828840, S1827986
    Date Created - 18/02/2019
    Version - 1.0.1

    Description:
    The news css file for the application
*/

/*------------------------------------------------------
>>> TABLE OF CONTENTS:
--------------------------------------------------------
# Common
# Containers
    ## News Card Container
--------------------------------------------------------
*/

/*--------------------------------------------------------------------------
    # Common
---------------------------------------------------------------------------*/

.new-page {
    padding-top: 20px;
    padding-bottom: 10px;
}

body {
    padding-top: 55px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
}
/*--------------------------------------------------------------------------
    END: # Common
---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
    # Containers
---------------------------------------------------------------------------*/
.news-card-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.news-card-item {
    padding-bottom: 10px;
}
/*--------------------------------------------------------------------------
    END: # Containers
---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
    # Chart
---------------------------------------------------------------------------*/

#chart{
    min-width: 450px;
    max-width:800px;
    margin:0 auto;
}

@media only screen and (max-width: 600px) {
    #chart {
        min-width: 90vw;
        max-width: 90vw;
        margin: 0 auto
    }
}