@model tmpst.Models.UserSecretCollection
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<link href="~/css/Overview/overview.css" rel="stylesheet" />

@*
    Author Info:

    Name(s) - Ross Taggart, Katie Kimg
    Student Number - S1828840, S1827986
    Date Created - 17/02/2019
    Version - 1.0.0

    Description:
    Page that will contain all partial views in use within the application
*@

<!-- Overview Page -->
<div id="overview-page">
    @*<div id="overview-title-container" class="text-center">
            <h3 class="tmpst-title">tmpst</h3>
            <p class="tmpst-desc">Weather processing platform</p>
        </div>*@

    <div>
        @await Html.PartialAsync("~/Views/Partials/Overview/_OverviewLandingPartial.cshtml")
    </div>
</div>

<div style="display:none" id="overview-desc-page">
    @await Html.PartialAsync("~/Views/Partials/Overview/_OverviewDescPartial.cshtml")
</div>
<!-- END: Overview Page -->
<!-- Weather Pages -->
<!-- Main Weather Landing Page -->
<div style="display:none;" class="new-page" id="weather-page">
    @await Html.PartialAsync("~/Views/Partials/Weather/_WeatherLandingPage.cshtml", Model)
</div>
<!-- END: Main Weather Landing Page -->
<!-- END: Weather Pages -->
<!-- Main Earthquake Landing Page -->
<div style="display:none;" class="new-page" id="earthquake-page">
    @await Html.PartialAsync("~/Views/Partials/Earthquake/_EarthquakeLandingPage.cshtml", Model)
</div>
<!-- END: Main Weather Landing Page -->
<!-- Population Pages -->
<!-- Main Population Landing Page -->
<div style="display:none;" class="new-page" id="population-page">
    @await Html.PartialAsync("~/Views/Partials/Population/_PopulationLandingPage.cshtml", Model)
</div>
<!-- END: Main Population Landing Page -->
<!-- Pollution Pages -->
<!-- Main Population Landing Page -->
<div style="display:none;" class="new-page" id="pollution-page">
    @await Html.PartialAsync("~/Views/Partials/Pollution/_PollutionLandingPage.cshtml", Model)
</div>
<!-- END: Main Population Landing Page -->
<!-- Population Pages -->
<!-- Main Population Landing Page -->
<div style="display:none;" class="new-page" id="general-page">
    @await Html.PartialAsync("~/Views/Partials/General/_AboutUsPage.cshtml", Model)
</div>
<div style="display:none" class="new-page" id="tutorial-page">
    @await Html.PartialAsync("~/Views/Partials/Tutorials/_TutorialLandingPage.cshtml")
</div>
<!-- END: Tutorial Landing Page -->
<!-- END: Tutorial Pages -->
<!-- News Pages -->
<!-- Main News Landing Page -->
<div style="display:none;" class="new-page" id="news-page">
    @await Html.PartialAsync("~/Views/Partials/News/_NewsLandingPage.cshtml", Model)
</div>
<!-- END: Main News Landing Page -->
<div style="display:none;" class="new-page", id="mortality-page">
    @await Html.PartialAsync("~/Views/Partials/Mortality/_MortalityLandingPage.cshtml", Model)
</div>