@model tmpst.Models.UserSecretCollection
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<link href="~/css/Overview/overview.css" rel="stylesheet" />

@*
    Author Info:

    Name(s) - Ross Taggart
    Student Number - S1828840
    Date Created - 17/02/2019
    Version - 1.0.0

    Description:
    Page that will contain all partial views in use within the application
*@

<!-- Overview Page -->
<div id="overview-page">
    <div id="overview-title-container" class="text-center">
        <h3 class="tmpst-title">tmpst</h3>
        <p class="tmpst-desc">Weather processing platform</p>
    </div>

    <div class="card w-100">
        @await Html.PartialAsync("~/Views/Partials/Overview/_OverviewLandingPartial.cshtml")
    </div>
</div>
<!-- END: Overview Page -->

<!-- Weather Pages -->

<!-- Main Weather Landing Page -->
<div style="display:none;" class="new-page" id="weather-page">
    @await Html.PartialAsync("~/Views/Partials/Weather/_WeatherLandingPage.cshtml", Model)
</div>
<!-- END: Main Weather Landing Page -->

<!-- END: Weather Pages -->

<script>

    // Weather Clean Up
    const allWeatherViews = $('#weather-query-container').add($('#weather-current-data-container'))
        .add($('#weather-map-container'))
        .add($('#weather-forecast-data-container'))
        .add($('#weather-current-data-container'));

    const allDynamicWeatherViews = $('#weather-current-data-container').add($('#weather-map-container'))
        .add($('#weather-forecast-data-container'))
        .add($('#weather-current-data-container'));

    const allDynamicWeatherElements = $('#latitude-input').add($('#longitude-input'))
        .add($('#name-or-postcode-input'))
        .add($('#current-weather-icon-container'))
        .add($('#current-weather-condition-container'))
        .add($('#current-weather-temp-container'))
        .add($('#current-weather-feel-temp-container'))
        .add($('#current-weather-wind-dir-container'))
        .add($('#current-weather-wind-speed-container'))
        .add($('#forecast-tbl-head'))
        .add($('#forecast-tbl-body'))

    function fadeDynamicWeatherViews() {
        allDynamicWeatherViews.fadeOut(300);
    }

    function clearDynamicWeatherElements() {
        allDynamicWeatherElements.empty();
    }

    function resetWeatherPage() {
        fadeDynamicWeatherViews();
        clearDynamicWeatherElements();
    }
    // END: Weather Clean Up

    $('#weather-container').on('click', function () {
        $('#overview-page').fadeOut(300).promise().done(function () {
            $('#weather-page').fadeIn(300);
        });
    });
</script>
