@model tmpst.Models.UserSecretCollection
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<link href="~/css/Overview/overview.css" rel="stylesheet" />

@*
    Author Info:

    Name(s) - Ross Taggart
    Student Number - S1828840
    Date Created - 17/02/2019
    Version - 1.0.0

    Description:
    Page that will contain all partial views in use within the application
*@

<!-- Overview Page -->
<div id="overview-page">
    <div id="overview-title-container" class="text-center">
        <h3 class="tmpst-title">tmpst</h3>
        <p class="tmpst-desc">Weather processing platform</p>
    </div>

    <div class="card w-100">
        @await Html.PartialAsync("~/Views/Partials/Overview/_OverviewLandingPartial.cshtml")
    </div>
</div>
<!-- END: Overview Page -->
<!-- Weather Pages -->
<!-- Main Weather Landing Page -->
<div style="display:none;" class="new-page" id="weather-page">
    @await Html.PartialAsync("~/Views/Partials/Weather/_WeatherLandingPage.cshtml", Model)
</div>
<!-- END: Main Weather Landing Page -->
<!-- END: Weather Pages -->
<!-- Main Earthquake Landing Page -->
<div style="display:none;" class="new-page" id="earthquake-page">
    @await Html.PartialAsync("~/Views/Partials/Earthquake/_EarthquakeLandingPage.cshtml", Model)
</div>
<!-- END: Main Weather Landing Page -->
